extends ./layouts/login-layout

block content
    .loginContainer
        h1 Login
        form(method ="")
            input(type="text", name="logUsername", placeholder= "Username or Email", required="")
            input(type="password", name="logPassword", placeholder= "password", required="")
            input(type="submit", value="login")
        a(href="/register") need an account? Register here!